.image-card {
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card {
  border: 3px solid #e5e5e5;
  cursor: pointer;
  border-radius: 8px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #585858;
}

.card-link:hover {
  text-decoration: none;
}

.card-price {
  color: #c7a566;
  font-weight: 500;
}

.short-desc {
  height: 30px;
  margin-bottom: 30px;
  color: #808080;
  font-size: 14px;
  line-height: 1.5;
}

.card:hover {
  background-color: #c7a566;
  .text-title {
    color: white;
  }

  .short-desc {
    color: white;
  }
}

.card-body {
  height: 150px;
}
