<footer class="container-footer">
    <div class="container pt-3">
       <div class="row">
            <div class="col-6 container-foot-icon">
                <a href="https://www.facebook.com/Kraton-Jogja-407135259490406" target="_blank" >
                    <div class="container-icon">
                        <img src='/assets/logo/facebook.svg'/>
                    </div>
                </a>
                <a href="https://twitter.com/kratonjogja" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/twitter.svg'/>
                    </div>
                </a>
                <a href="https://instagram.com/kratonjogja" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/instagram.svg'/>
                    </div>
                </a>
                <a href="https://www.youtube.com/channel/UC5wZkx9IzjiH7KYPsv3VDUQ" target="_blank">
                    <div class="container-icon">
                        <img src='/assets/logo/youtube.svg'/>
                    </div>
                </a>
            </div>
            <div class="col-6 text-left" style="font-size: 14px;">
                © Copyright 2021 <a href="http://kratonjogja.id/">Karaton Ngayogyakarta Hadiningrat</a>
<br/>Powered by <a href="https://www.globaltix.com/">GlobalTix</a>
            </div>
       </div>
    </div>
</footer>