<header >
    <!-- <div id="kepala">
      <div class="header-top">
        <div class="wrapper">
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="logo-top-ad">
        <div class="container">
          <div class="row">
                <div class="logo col-lg-12">
            <a href="http://kratonjogja.id/"><img alt="" src="http://kratonjogja.id/upload/images/logo/img_E0LpCXI.png"></a>
          </div>
                </div>
        </div>
      </div>
    </div> -->
    <!-- <div class='navbar border-header-top' style="display: flex;justify-content: center;align-items: center;">
      <div class="col-md-12" style="display: flex;justify-content: center;align-items: center;">
        a
      </div>
  </div> -->
    <div class="navbar navbar-top ex-header">
        <div class="row top-head">
          <div class="col-md-12">
             
          </div>
        </div>
        <div class='container row' style="display: flex;justify-content: center;align-items: center;">
          <div class="col-md-12" style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px;">
            <a href="http://kratonjogja.id/"><img alt="" src="http://kratonjogja.id/upload/images/logo/img_E0LpCXI.png"></a>
          </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-main-header" id="header-navbar" >
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link-cus " [ngClass]="{'nav-link-active': place==='labuan-bajo'}" aria-current="page" routerLink="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " (click)="toAbout()" [ngClass]="{'nav-link-active': place==='mandalika'}" routerLink="/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " (click)="toTicket()" [ngClass]="{'nav-link-active': place==='danau-toba'}" routerLink="/">Ticket</a>
              </li>
              <li class="nav-item">
                <a class="nav-link-cus " (click)="toActivity()" [ngClass]="{'nav-link-active': place==='likupang'}" routerLink="/">Activity</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
</header>