@import "/src/styles.scss";
.top-header {
  background-color: white;
}

.ex-header {
  //   background-color: red;
  background-image: url(../../../assets/ornamen/bg-header.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border-header-top {
  border-top: 4px solid #d9ae3f;
  background: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-image: url(../../../assets/ornamen/bg-top.png);
  background-position: bottom center;
  background-repeat: repeat-x;
  color: #0a2317;
  height: 53px;
}

.navbar-top {
  padding: 0;
}

.top-head {
  background: transparent;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-image: url(../../../assets/ornamen/bg-top.png);
  background-position: bottom center;
  background-repeat: repeat-x;
  width: 100%;
  height: 50px;
}

.container-header {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.icon_ {
  color: $main-color;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.logo-header {
  text-decoration: none;
  color: $main-color;
  font-size: 1.5rem;
}

.logo-header:hover {
  text-decoration: none;
  color: $main-color;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-main-header {
  background-image: url(../../../assets/ornamen/bg_menu.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin-top: -9px;
  margin-bottom: 8px;
  height: 100%;
}

.nav-link-cus {
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  color: black;
  padding: 0.5rem 1rem;
}

.nav-link-active {
  color: white;
}

.nav-link-cus:hover {
  text-decoration: none;
  color: white;
}

.btn-cart {
  cursor: pointer;
  font-size: 1.5rem;
}

.badge-notif {
  background-color: #fe634e;
  position: absolute;
  z-index: 999;
  font-size: 0.8rem;
  right: 5px;
  bottom: 4px;
}
