<div class="pb-5">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img [src]="'/assets/image/'+place+'.jpg'" class="d-block  img-slide" alt="...">
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row justify-content-center text-title">
            Tiket Masuk
        </div>
        <div class="row container-card">
            <div *ngIf="destination['tiket-masuk'] !== undefined ;then trueBlock else falseBlock"></div>
            <ng-template #trueBlock>
                <div class="col-md-4" *ngFor="let item of destination['tiket-masuk'];let i = index">
                    <app-card 
                        [to]="'/'+place+'/tiket-masuk/'+i"
                        [title]="item.title"
                        [price]="'Rp. '+formatNumber(item.price)"
                        [src]="item.image[0]">
                    </app-card>
                </div>
            </ng-template>
            <ng-template #falseBlock>
                <div class="col-md-4" *ngFor="let item of tiket_masuk| async;let i = index" >
                    <app-card 
                        [to]="'/'+place+'/tiket-masuk/'+item.id"
                        [title]="item.title"
                        [src]="this.env+'/image?name='+item.imagePath">
                    </app-card>
                </div>
            </ng-template>
            
            
        </div>
    </div>
    <div class="container">
        <div class="row pl-3 sub-text-title">
            Aktivitas di {{title(place)}}
        </div>
        <div class="row container-card">
            <div *ngIf="destination['activity'] !== undefined ;then activityExist else activityNotExist"></div>
            <ng-template #activityExist>
                <div class="col-md-4" *ngFor="let item of destination['activity'];let i = index">
                    <app-destinantion-card
                                [to]="'/'+place+'/activity/'+i" 
                                [title]="item.title" 
                                [src]="item.image[0]"
                                [content]="convertContent(item.content)">
                    </app-destinantion-card> 
                </div>
            </ng-template>
            <ng-template #activityNotExist>
                <div class="col-md-4" *ngFor="let item of activities|async;let i = index">
                    <app-destinantion-card
                                [to]="'/'+place+'/tiket-masuk/'+item.id" 
                                [title]="item.title" 
                                [src]="this.env+'/image?name='+item.imagePath"
                                [content]="convertContent(item.description)">
                    </app-destinantion-card> 
                </div>
                
            </ng-template>
            
            <!-- <div>
                <div (click)="prev()" class="btn-prev">
                    <i class="bi bi-chevron-left"></i>
                </div>
                <div (click)="next()" class="btn-next">
                    <i class="bi bi-chevron-right"></i>
                </div>
                <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    
                >
                <div ngxSlickItem class="col mb-5"  *ngFor="let item of destination['activity'];let i = index" >
                    <app-destinantion-card 
                                [title]="item.title" 
                                [src]="item.image[0]"
                                [content]="convertContent(item.content)">
                    </app-destinantion-card>
                </div>
    
             </ngx-slick-carousel>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="row pl-3 sub-text-title">
            Tour & Paket
        </div>
        <div class="row container-card">

            <div *ngIf="destination['tour-paket'] !== undefined ;then toursExist else toursNotExist"></div>
            <ng-template #toursExist>
                <div class="col-md-4" *ngFor="let item of destination['tour-paket'];let i = index">
                    <app-destinantion-card
                                [to]="'/'+place+'/activity/'+i" 
                                [title]="item.title" 
                                [src]="item.image[0]"
                                [content]="convertContent(item.content)">
                    </app-destinantion-card> 
                </div>
            </ng-template>
            <ng-template #toursNotExist>
                <div class="col-md-4" *ngFor="let item of tours|async;let i = index">
                    <app-destinantion-card
                                [to]="'/'+place+'/tiket-masuk/'+item.id" 
                                [title]="item.title" 
                                [src]="this.env+'/image?name='+item.imagePath"
                                [content]="convertContent(item.description)">
                    </app-destinantion-card> 
                </div>
                
            </ng-template>




            <!-- <div class="col-md-4" *ngFor="let item of destination['tour-paket'];let i = index">
                <app-destinantion-card 
                            [to]="'/'+place+'/tour-paket/'+i" 
                            [title]="item.title" 
                            [src]="item.image[0]"
                            [content]="convertContent(item.content)">
                </app-destinantion-card> 
            </div> -->
            <!-- <div>
                <div (click)="prev()" class="btn-prev">
                    <i class="bi bi-chevron-left"></i>
                </div>
                <div (click)="next()" class="btn-next">
                    <i class="bi bi-chevron-right"></i>
                </div>
                <ngx-slick-carousel class="carousel" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    
                >
                <div ngxSlickItem class="col mb-5"  *ngFor="let item of destination['tour-paket'];let i = index" >
                    <app-destinantion-card 
                                [title]="item.title" 
                                [src]="item.image[0]"
                                [content]="convertContent(item.content)">
                    </app-destinantion-card>
                </div>
    
             </ngx-slick-carousel>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="row pl-3 sub-text-title">
            Promo
        </div>
        <div class="row container-card">
            <div class="col-md-4">
                <app-destinantion-card 
                            [title]="'Coffee in Borobudur Promotion'" 
                            [src]="'https://i.ibb.co/K0TftgB/img-1.jpg'">
                </app-destinantion-card>
            </div>
            <div class="col-md-4">
                <app-destinantion-card 
                            [title]="'Spritual Java offer 50%'" 
                            [src]="'https://i.ibb.co/MpBxQ3K/spiritual-java-1-1.jpg'">
                </app-destinantion-card>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pl-3 sub-text-title">
            Annual Pass
        </div>
        <div class="row container-card">
            <div class="col-md-4">
                <app-destinantion-card 
                            [title]="'Annual Pass 1'" 
                            [src]="'https://i.ibb.co/K0TftgB/img-1.jpg'">
                </app-destinantion-card>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <iframe [src]="url"
                        frameBorder="0"
                        allow="autoplay"
                        allowFullScreen
                        title="video"
                        height="600px"
                ></iframe>
        </div>
    </div>
</div>