<div class="container-catalog" >
    <div class="app"> 
        <div class="con-header">
            <div class="row header" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-2 col-sm-1">
                    <i class="bi bi-arrow-left icon-back" [routerLink]="['/catalog']"></i>
                </div>
                <div class="col-10 col-sm-11">
                    Product Catalog
                </div>
            </div>
            <div class="row filter">
                <div class="col-6 filter-tab" (click)="open(content)">
                    <span><i class="bi bi-sliders icon-tab"></i></span>
                    Filter
                </div>
                <div class="col-6 sort-tab" (click)="open(sort)">
                    <span><i class="bi bi-filter icon-tab"></i></span>
                    Urutkan
                </div>
            </div>
        </div>
        <div class="content row">
            <div *ngFor="let product of products" class="col-md-4 con-card">
                <div class="card">
                    <img class="img-card" [src]="product.images" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            {{title(product.title)}}
                        </p>
                        <p class="price-card">
                            Rp. {{formatPrice(product.price)}}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf="loading">
                <app-loading-spinner></app-loading-spinner>
            </div>
            
            <div
                infiniteScroll
                [infiniteScrollDistance] = "2"
                [infiniteScrollThrottle] = "500"
                (scrolled) = "scrollHandler($event)"
            >

            </div>


            <!-- <div class="col-4 con-card">
                <div class="card">
                    <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            Tiket Masuk DUFAN & Tiket Masuk Panta...
                        </p>
                        <p class="price-card">
                            Rp. 320.000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 con-card">
                <div class="card">
                    <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            Tiket Masuk DUFAN & Tiket Masuk Panta...
                        </p>
                        <p class="price-card">
                            Rp. 320.000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 con-card">
                <div class="card">
                    <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            Tiket Masuk DUFAN & Tiket Masuk Panta...
                        </p>
                        <p class="price-card">
                            Rp. 320.000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 con-card">
                <div class="card">
                    <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            Tiket Masuk DUFAN & Tiket Masuk Panta...
                        </p>
                        <p class="price-card">
                            Rp. 320.000
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4 con-card">
                <div class="card">
                    <img class="img-card" src="https://s2.bukalapak.com/img/22120850392/medium/data.png" alt="">
                    <div class="content-card">
                        <p class="title-card">
                            Tiket Masuk DUFAN & Tiket Masuk Panta...
                        </p>
                        <p class="price-card">
                            Rp. 320.000
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Filter</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding-left: 30px;padding-right: 30px;">
      <form>
        <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="all" value="option1" checked>
            <label class="form-check-label" for="all">
              Semua Produk
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="tiket-wisata" value="option2">
            <label class="form-check-label" for="tiket-wisata">
              Tiket Masuk Wisata
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="paket-tur" value="option3" >
            <label class="form-check-label" for="paket-tur">
              Paket Tur & Aktivitas
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="sewa-kendaraan" value="option4" >
            <label class="form-check-label" for="sewa-kendaraan">
                Sewa Kendaraan
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="lifestyle" value="option5" >
            <label class="form-check-label" for="lifestyle">
                Lifestyle
            </label>
          </div>
      </form>
    </div>
   
  </ng-template>
  <ng-template #sort let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Urutkan</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding-left: 30px;padding-right: 30px;">
      <form>
        <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="all" value="option1" checked>
            <label class="form-check-label" for="all">
              Terbaru
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="tiket-wisata" value="option2">
            <label class="form-check-label" for="tiket-wisata">
              Termurah
            </label>
          </div>
          <div class="form-check mb-3" style="font-size: 20px;">
            <input class="form-check-input" type="radio" name="exampleRadios" id="paket-tur" value="option3" >
            <label class="form-check-label" for="paket-tur">
              Termahal
            </label>
          </div>
      </form>
    </div>
   
  </ng-template>
