.container-catalog{
    background-color: #f2f2f2;
    display: flex;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.app{
    width: 100%;
    max-width: 834px;
    min-height: 100vh;
    background-color: white;
    position: relative;
    margin: 0 auto;

    // padding-top: 80px;
    // padding-left: 80px;
    // padding-right: 80px ;
}

.header{
    padding: 32px 5% 18px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f2f5;
}

.con-header{
    z-index: 999;
    background-color: white;
    position: fixed;
    margin: 0 auto;
    @media screen and (max-width: 800px){
        width: 100%;

      }
    @media screen and (min-width: 800px) {
        width: 834px;

    }


}

.icon-back{
    font-size: 25px;
}

.filter-tab{
    border-right: 1px solid #f1f2f5;
    justify-content: center;
    display: flex;
}

.filter{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.sort-tab{
    justify-content: center;
    display: flex;
    align-items: center;
}

.icon-tab{
    font-size: 20px;
    margin-right: 20px;
}

.content{
    background-color: #e5e5e5;
    margin: 0 auto;
    padding:12px;
    max-width: 668px;
    margin-top: 150px;
}

.con-card{
    padding:5px;
}

.content-card{
    padding: 5px;
}

.title-card{
    height: 40px !important;
    font-size: 12px;
}

.price-card{
    font-size: 14px;
    font-weight: 600;
    color: #42454d;
}

.card{
    border-radius: 8px;
}

.img-card{
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 200px;

}
