@import "/src/styles.scss";

.img-slide {
  width: 100%;
  object-fit: contain;
  height: 60rem;
  z-index: 1;
}

.text-title-section {
  margin-top: 4rem;
  font-size: 24px;
  color: #c7a566;
  font-weight: 600;
  font-family: "Great Vibes";
}

.text-title::before {
  background-size: 28px 15px;
  background-image: url(../../../assets/ornamen/before_ornamen.png);
}

.sec-img {
  width: 70px;
}

.sub-text-title {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #c7a566;
}

.container-card {
  margin-top: 30px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: #c7a566;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  padding-top: 10px;
}

.my-float {
  font-size: 25px;
}
