<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image/slide1.jpg" class="d-block  img-slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/image/slide2.jpg" class="d-block  img-slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/image/slide3.jpg" class="d-block  img-slide" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container mb-5" id="about">
  <div class="row justify-content-left text-title-section">
      <div class="col-6">
          About
      </div>
  </div>
  <div class="row container-card">
      <div class="col-md-12">
      <p><i style="line-height: 1.6;">Kraton, Karaton</i><span style="line-height: 1.6;"> atau Keraton berasal dari kata <i>ka</i>+<i>ratu</i>+<i>an</i> yang berarti tempat bersemayam para Ratu (Raja, dalam Bahasa Jawa). Bukan sekedar bangunan, keraton memiliki nilai filosofi yang sangat tinggi. <i>Tata Rakiting Wewangunan</i> adalah serangkaian konsep terkait tata ruang, bangunan, ragam hias, tanaman, maupun fungsi dan kegunaan ruang atau bangunan itu sendiri di Karaton Ngayogyakarta Hadiningrat.</span><br></p>
      </div>
  </div>

  <div class="container mb-5" id="ticket">
    <div class="row justify-content-left text-title-section">
        <div class="col-6">
            Entrance Ticket
        </div>
    </div>
    <div class="row container-card">
      <div class="col-md-6" *ngFor="let item of ticket_masuk;let i = index">
        <app-card 
            [to]="item.slug"
            [title]="item.title"
            [desc]="item.desc"
            [price]="'Rp. '+formatNumber(item.price)"
            [src]="item.image[0]">
        </app-card>
    </div>
  </div>
</div>
<div class="container mb-5" id="activity">
  <div class="row justify-content-left text-title-section">
      <div class="col-6">
          Activity Ticket
      </div>
  </div>
  <div class="row container-card">
    <div class="col-md-6" *ngFor="let item of activity;let i = index">
      <app-card 
          [to]="item.slug"
          [title]="item.title"
          [desc]="item.desc"
          [price]="'Rp. '+formatNumber(item.price)"
          [src]="item.image[0]">
      </app-card>
  </div>
</div>

</div>

<a href="#" class="float">
  <i i-bs class="my-float bi bi-arrow-up" ></i>
</a>

  
   

