/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../src/assets/styles/bootstrap.scss';

.btn-link{
    color: black !important;
    font-weight: 500 !important;
}


