.container-detail{
    margin-top: 20px;
    padding-left: 20px;
}

.header-payment{
    background-color: rgba(254,99,78,0.1);
    padding:12px
}

.img-header{
    background-color: white;
    width: 70px;
    height: 70px;
}

.title-header{
    font-weight: 600;

}

.icon{
    width: 30px;
}

